
$primary: #4f46e5;

body {
  color: var(--color-chart-2) !important;
    font-family: var(--font-sans);
}
.test-box {
  padding: 1rem;
  background-color: var(--chart-1);
  border: 1px solid var(--chart-2);
  color: var(--chart-3);
}